.font-style {
  font-family: serif;
  background-color: bisque;
}

.center {
  text-align: center;
}

.main-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.profile-img {
  align-items: center;
  justify-content: center;
  object-fit: cover !important;
  width: 1 !important;
  height: 350px !important;
  border-radius: 50% !important;
  /* margin: 25px !important; */
  margin-bottom: 0px !important;
  display: block !important;
}

.card_deck{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
}
.embed-responsive .card-img-top {
  width: 20px;
  height: 50px;
  object-fit: cover;
}