.font-style {
  font-family: serif;
  background-color: bisque;
}

.center {
  text-align: center;
}

.main-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile-img {
  object-fit: cover !important;
	width: 350px !important;
	height: 350px !important;
	border-radius: 50% !important;
	margin: 25px !important;
	margin-bottom: 0px !important;
	display: block !important;
}