.Cities-HeaderImgStyle {
    align-items: center;
    justify-content: center !important;
    object-fit: cover !important;
    width: 100% !important;
    height: 500px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    display: block !important;
    opacity: 0.7 !important;
}

.Cities-HeaderTextStyle {
    text-shadow: 1px 1px 3px black;
    font-size: 8vw !important;
    color: white !important;
    width: 100% ;
}

.Cities-HeaderCardStyle {
    width: 100%;
    height: auto;
}

.Cities-rowStyle {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Cities-subtitleTextStyle{
    text-shadow: 1px 1px 3px black;
    color: white;
    width: 100%;
}

.buttonStyle  {
    color: white;
    opacity: 0.7;
}