/* A link that has not been visited
a:link {
    color: pink;
}
/* A link that has been visited */
/* a:visited {
    color: blue;
} */
/* A link that is hovered on
a:hover {
    color: red;
} */
/* A link that is selected */
/* a:active {
    color: green;
} */ */

.row {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-card {
    width:"100%"; 
    height:"auto";
}

.header-text {
    text-shadow: 1px 1px 3px black;
    font-size: 11rem !important;
    color: white;
}

.header-img {
    align-items: center;
    justify-content: center;
    object-fit: cover !important;
    width: 100% !important;
    height: 500px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    display: block !important;
    opacity: 0.7;
}

.a-custom {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
  }
  
  .a-custom:hover,
  .a-custom:focus {
    text-decoration: none;
    background-size: 100% 2px;
  }
  