.center {
  text-align: center;
}
/* 
section {
  float: right;
  margin: 0 1.5%;
  width: 63%;
} */

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  height:100%;
  width:100%;
  position:absolute;
}
