.center {
  text-align: center;
}
/* 
section {
  float: right;
  margin: 0 1.5%;
  width: 63%;
} */

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  top: 0;
  right: 0;
  bottom: 0;
  left: 10%;
  padding: 0;
  height:98%;
  width:80%;
  position:absolute;
}
.city-img-top {
  align-items: center;
  justify-content: center;
  object-fit: cover !important;
  width: 100% !important;
  height: 500px !important;
  margin-bottom: 15px !important;
  margin-top: 0px !important;
  display: block !important;
}
.table{
  font-family: 'Josefin Sans', Georgia, Times, serif !important;
}
.margin{
  margin: 25px;
}
.my-custom-scrollbar {
  position: relative !important;
  height: relative !important;
  width: 100% !important;
  overflow: auto !important;
}
.my-custom-scrollbar-restaurant {
  position: relative !important;
  height: relative !important;
  width: 100% !important;
  overflow: auto !important;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.carousel-img{
  align-items: center;
  justify-content: center;
  object-fit: cover !important;
  width: 100%!important;
  height: 90% !important;
  display: block !important;
}
.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.25);
}

.carousel-indicators .active {
  background-color: rgb(255, 255, 255);
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  font-size: 400px; 
  margin-top: -360px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  font-size: 400px; 
  margin-top: -360px;
}

/* .carousel-control-prev {
  margin-left: -120px;
}

.carousel-control-next {
  margin-right: -120px;
} */
td a { 
  display: block;
  color: inherit;
}
td a:hover{
  color: black;
  text-decoration: none;
}



