.CuisinesheaderImgStyle {
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 450px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: block;
  opacity: 0.7;
}

.CuisinesheaderTextStyle {
  text-shadow: 1px 1px 3px black;
  font-size: 8vw;
  color: white;
  width: 100%;
}

.CuisinesheaderCardStyle {
  width: 100%;
  height: auto;
}

.CuisinesrowStyle {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-left: 0px;
}

.Cuisines-subtitleTextStyle {
  text-shadow: 1px 1px 3px black;
  color: white;
  width: 100%;
}
