@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');
.footer{
	/*background-color: #e1b7b7;*/
    background-color: #400801;
    color: white;
	text-align: center;
	font-family: 'Josefin Sans', Georgia, Times, serif;
	position:fixed;
	left:0;
	bottom:0;
	right:0;
}

.filler{
	background-color: #c7dae2;
	color: #c7dae2;
}