@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');
/* position: fixed;
bottom: 0; 	height: 20%;
*/
.footer {
	/* font-family: 'Josefin Sans', Georgia, Times, serif;
*/
	background-color: #400801;
	position:relative;
	bottom:0px;
	width: 100%;
	color: white;
	display: flex;
  	flex-direction: row;
	height: 170px;
/*

  flex-wrap: wrap;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px; */
}

.footerDataShort,
.footerDataLong {
	position: relative;
	display: flex;
  flex-direction: column;
  flex-basis: 100%;
	width: 100%;
	margin: 12px auto;
	text-align: left;
	font-size: large;
}

.footerDataLong {
	flex: 3;
	font-size: large;
}
.footerDataShort {
	font-size: large;  
	flex: 2;
	text-align:left;
}



.container {
	padding-top: 0px; /** 10 **/
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-bottom: 0px; /** 30 **/
	max-width: 1200px;
	margin: auto;
}

/* .container * {
	color: white;
} */

.copyrightText {
	color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 20px;
	font-size: medium;  

}

.header1 {
	font-size: xx-large;  
	font-weight: bold;
}


.header2 {
	font-size: larger;  
	font-weight: bold;
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
	}
}
