@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');

.navbar-custom {
  background-color: #400801;
	font-family: 'Josefin Sans', Georgia, Times, serif;
}

.nav-link {
  color: white !important;
}
