@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');

.navbar-custom {
  /* background-color: #400801; */
	font-family: 'Josefin Sans', Georgia, Times, serif;
}

.nav-link {
  color: white !important;
}

.a-custom {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
}

.a-custom:hover,
.a-custom:focus {
  text-decoration: none;
  background-size: 100% 2px;
}

.search-button {
  background-color: rgb(236, 158, 61);
  color: white;
  border: 2px solid rgb(236, 158, 61);
  border-radius: 8px;
  font-size: 20px;
  transition-duration: 0.4s;
}

.search-button:hover {
  background-color: beige;
  border: 2px solid beige;
  border-radius: 8px;
  color:rgb(53, 13, 3)


}