@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');

.main-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
  height: 100%; 
  max-width: 100%;
}
.card-text {
  word-wrap: break-word;
}

.Instance-header{
	font-family: 'Abril Fatface', Georgia, Times, serif;
	text-align: center;
	margin: auto;
	align-items: center;
	padding-top : 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Instance{
  background-color: bisque;
  margin: auto;
	justify-content: center;
  
}
h5{
	font-family: 'Josefin Sans', Georgia, Times, serif;
}

h4{
	font-family: 'Josefin Sans', Georgia, Times, serif;
}   

.info{
	align-items: center;
	padding: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.instance-photo{
	height: 10%;
	width: 50%;
	padding-bottom: 10%;
	align-items: center;
	margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.instance-text{
	/**height: 10%;**/  
	/**width: 50%;**/
	padding-bottom: 10%;      
	align-items: center;
	margin: auto;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
    

.RelatedDeck{
	font-family: 'Josefin Sans', Georgia, Times, serif;
	padding: 6%;
  align-items: center;
  word-wrap: break-word;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}   