#module {
  width: 500px;
}

#module a.collapsed:after {
  content: '+ Show More';
}

#module a:not(.collapsed):after {
  content: '- Show Less';
}

#module [id^='cid_'].collapse:not(.show) {
  display: block;
  height: 12rem;
  overflow: hidden;
}

#module [id^='cid_'].collapsing {
  height: 1.5em;
}


#search-page {
  width: 500px;
}

#search-page a.collapsed:after {
  content: '+ Show More';
}

#search-page a:not(.collapsed):after {
  content: '- Show Less';
}

#search-page [id^='id_'].collapse:not(.show) {
  display: block;
  height: 12rem;
  overflow: hidden;
}

#search-page [id^='id_'].collapsing {
  height: 1.5em;
}

.ais-Hits-item {
  list-style: none;
}


