.container {
  overflow: "hidden";
}

.row-center {
  justify-content: "center";
  align-items: "center";
  text-align: center;
}

.col.center-col {
  justify-content: "center" !important;
  align-items: "center" !important;
  margin-left: auto;
  margin-right: auto;
}

.headerStyle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center !important;
  font-size: 9vw;
  animation-duration: 2s;
  animation-name: fadeIn;
}

.header2Style {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center !important;
  font-size: 5vw;
  animation-duration: 5s;
  animation-name: slidein;
}

.header3Style {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center !important;
  font-size: 2vw;
  animation-duration: 7s;
  animation-name: slidein;
}

.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}

.animation {
  animation-duration: 5s;
  animation-name: slidein;
}

.pageStyle {
  padding-bottom: 128px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes fadeOutUp {
    40% {opacity:0;}
    100% {opacity:1;}
} */

/* @-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
} */

/* .h2.custom1 {
    text-align: center;
}

.h3.custom1 {
    text-align: center;
} */
